
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>OLIC</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="~/Animation2/assets/img/favicon.png" rel="icon">
    <link href="~/Animation2/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Roboto:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="~/Animation2/assets/vendor/aos/aos.css" rel="stylesheet">
    <link href="~/Animation2/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/Animation2/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="~/Animation2/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="~/Animation2/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="~/Animation2/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- Template Main CSS File -->
    <link href="~/Animation2/assets/css/style.css" rel="stylesheet">
    <style type="text/css">
        /*.spank {
            animation: blink 2s linear infinite;
        }

        @@keyframes blink {
            0% {
                opacity: 0;
            }

            50% {
                opacity: .5;
            }

            100% {
                opacity: 1;
            }
        }*/

        .section-title img {
            margin-bottom: 0px;
            height: 100px;
        }

        .icon img {
            border-radius: 50%;
            border: 4px solid #008cef;
        }
    </style>
    <!-- =======================================================
    * Template Name: BizLand - v3.6.0
    * Template URL: https://bootstrapmade.com/bizland-bootstrap-business-template/
    * Author: BootstrapMade.com
    * License: https://bootstrapmade.com/license/
    ======================================================== -->
</head>

<body>

    <!-- ======= Top Bar ======= -->
    <section id="topbar" class="d-flex align-items-center">
        <div class="container d-flex justify-content-center justify-content-md-between">
            <div class="contact-info d-flex align-items-center">
                <i class="bi bi-envelope d-flex align-items-center"><span><b>olicltd123@bsnl.in</b></span></i>
                <i class="bi bi-phone d-flex align-items-center ms-4"><span><b>18003457611 (Toll Free)</b></span></i>
            </div>
            <div class="contact-info d-flex align-items-center">
                @*<a href="/Farmer/ApplicationStatus" class=" bi bi-app-indicator"> Check Application Status</a>
                    <a href="/Farmer/ApplicationStatus" class="bi bi-envelope d-flex align-items-center">Check Application Status</a>*@
                <a href="/Farmer/ApplicationStatus"><i class="bi bi-app-indicator"><b>&nbsp; Check Application Status</b></i></a>
                @*<a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
                    <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>*@
            </div>
        </div>
    </section>

    <main id="main">
        <!-- ======= Featured Services Section ======= -->
        <section id="featured-services" class="featured-services testimonials">
            <div class="section-title">
                <img src="~/Animation2/assets/img/lfirrigationlogo.png" alt="logo">
                <h3>ODISHA LIFT IRRIGATION CORPORATION LIMITED</h3>
                <p><span>A Government of Odisha Undertaking</span></p>
            </div>
            <div class="container" data-aos="fade-up">

                <div class="row">


                    <div class="col-md-6 col-lg-4  mb-5 mb-lg-0">
                        <a data-bs-toggle="modal" data-bs-target="#exampleLargeModal">
                            <div class="icon-box" data-aos="fade-up" data-aos-delay="200">
                                <div class="spank">
                                    <div class="icon">
                                        <img src="~/Animation2/assets/img/6.jpg" alt="logo">
                                    </div>
                                    <h4 class="title">Deep Borewell</h4>
                                </div>
                            </div>
                        </a>
                    </div>


                    <div class="col-md-6 col-lg-4  mb-5 mb-lg-0">
                        <a data-bs-toggle="modal" data-bs-target="#exampleLargeModal1">
                            <div class="icon-box" data-aos="fade-up" data-aos-delay="400">
                                <div class="icon">
                                    <img src="~/Animation2/assets/img/7.png" alt="logo">
                                </div>
                                <h4 class="title">Deep Borewell Solar</h4>

                            </div>
                        </a>
                    </div>

                    <div class="col-md-6 col-lg-4  mb-5 mb-lg-0">
                        <a data-bs-toggle="modal" data-bs-target="#exampleLargeModal2">
                            <div class="icon-box" data-aos="fade-up" data-aos-delay="100">
                                <div class="icon">
                                    <img src="~/Animation2/assets/img/5.jpg" alt="logo">
                                </div>
                                <h4 class="title">Community Lift Irrigation Project</h4>

                            </div>
                        </a>
                    </div>
                </div>



            </div>
        </section><!-- End Featured Services Section -->

        <div class="modal fade" id="exampleLargeModal" tabindex="-1" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header" style="background-color: #99bceb;">
                        <h5 id="hed1" class="modal-title">Instructions for Filling Online Application &nbsp; &nbsp;</h5>
                        <h5 style="display:none;" id="hed2" class="modal-title"><b> ଅନଲାଇନ୍ ଆବେଦନ ପୂରଣ ପାଇଁ ନିର୍ଦ୍ଦେଶାବଳୀ </b> &nbsp; &nbsp;</h5>
                        <input type="radio" onclick="show(1)" name="fav_language" checked>
                        <label for="html"><b> English  &nbsp; &nbsp;</b></label><br>
                        <input type="radio" onclick="show(2)" name="fav_language">
                        <label for="html"><b> ଓଡିଆ</b></label><br>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div id="chk1" style="display:block;">
                            <p>
                                1. Read the Instructions Carefully and Press the<b>'PROCEED'</b> button to proceed further. <br />
                            </p>
                            <p>
                                2. Before the start of filling the application through online mode, the applicant should keep the following details / documents ready:<br />
                            </p>
                            <ul>
                                <li>
                                    Valid Mobile Number
                                </li>
                                <li>
                                    Aadhaar Details
                                </li>
                                <li>
                                    BPL Card Details (For SC / ST category having BPL card)
                                </li>
                                <li>
                                    Plot Details (Bhulekh)
                                </li>
                                <li>
                                    Land Patta
                                </li>
                                <li>
                                    ROR Affidavit (If the applicant has no Record of Rights (ROR) for Land details)
                                </li>
                            </ul>
                            <p>
                                3.	The Applicant should fill up all the required information i.e., Personal Details, Present Address Details, Land Particulars of Proposed Project, etc. correctly. <br />
                            </p>
                            <p>
                                4. Applicant should upload the scanned (digital) image for Aadhaar Card, Photo (Optional), BPL Card (For SC / ST category having BPL card), Land Patta and ROR Affidavit (If the applicant has no Record of Rights (ROR) for Land details). <br />
                            </p>
                            <p>
                                5.	Document format should be in JPG/ JPEG/ PDF and the size of each file should be between a minimum of 500kb & maximum of 1MB. <br />
                            </p>
                            <p>
                                6.	Upon completion of Registration, the applicant can download the application form and will receive a message in the registered mobile number which will contain the Application Number. <br />
                            </p>
                        </div>
                        <div id="chk2" style="display:none;">
                            <p>
                                ୧.	ନିର୍ଦ୍ଦେଶାବଳୀକୁ ଯତ୍ନର ସହିତ ପଢନ୍ତୁ ଏବଂ ଆଗକୁ ବଢିବାକୁ <b>'PROCEED'</b> ବଟନ୍ ଦବାନ୍ତୁ |
                            </p>
                            <p>
                                ୨.	ଅନଲାଇନ୍ ମୋଡ୍ ମାଧ୍ୟମରେ ଆବେଦନ ପୂରଣ କରିବା ପୂର୍ବରୁ, ଆବେଦନକାରୀ ନିମ୍ନଲିଖିତ ବିବରଣୀ / ଡକ୍ୟୁମେଣ୍ଟଗୁଡିକ ପ୍ରସ୍ତୁତ ରଖିବା ଉଚିତ୍:
                            </p>
                            <ul>
                                <li>
                                    ବୈଧ ମୋବାଇଲ୍ ନମ୍ବର
                                </li>
                                <li>
                                    ଆଧାର ବିବରଣୀ
                                </li>
                                <li>
                                    ବିପିଏଲ୍ କାର୍ଡ ବିବରଣୀ (ବିପିଏଲ୍ କାର୍ଡ ଥିବା SC / ST ବର୍ଗ ପାଇଁ)
                                </li>
                                <li>
                                    ପ୍ଲଟ୍ ବିବରଣୀ (ଭୁଲେଖ)
                                </li>
                                <li>
                                    ଜମି ପଟ୍ଟା
                                </li>
                                <li>
                                    ROR ଆଫିଡେଭିଟ୍ (ଯଦି ଜମି ବିବରଣୀ ପାଇଁ ଆବେଦନକାରୀଙ୍କ ପାଖରେ କୌଣସି ଅଧିକାର ନାହିଁ)
                                </li>
                            </ul>
                            <p>
                                ୩.	ଆବେଦନକାରୀ ସମସ୍ତ ଆବଶ୍ୟକୀୟ ସୂଚନା ଯଥା, ବ୍ୟକ୍ତିଗତ ବିବରଣୀ, ଉପସ୍ଥାପିତ ଠିକଣା ବିବରଣୀ, ପ୍ରସ୍ତାବିତ ପ୍ରକଳ୍ପର ଭୂମି ବିଶେଷତା ଇତ୍ୟାଦି ସଠିକ୍ ଭାବରେ ପୂରଣ କରିବା ଉଚିତ୍ |
                            </p>
                            <p>
                                ୪.	ଆବେଦନକାରୀ ଆଧାର କାର୍ଡ, ଫଟୋ, ବିପିଏଲ୍ କାର୍ଡ (ବିପିଏଲ୍ କାର୍ଡ ଥିବା SC / ST ବର୍ଗ ପାଇଁ), ଲ୍ୟାଣ୍ଡ ପଟ୍ଟା, ଏବଂ ROR ଆଫିଡେଭିଟ୍ (ଯଦି ଜମି ବିବରଣୀ ପାଇଁ ଆବେଦନକାରୀଙ୍କ ପାଖରେ କୌଣସି ଅଧିକାର ନାହିଁ) ସ୍କାନ୍ ହୋଇଥିବା (ଡିଜିଟାଲ୍) ପ୍ରତିଛବି ଅପଲୋଡ୍ କରିବା ଉଚିତ୍ |
                            </p>
                            <p>
                                ୫.	ଡକ୍ୟୁମେଣ୍ଟ୍ ଫର୍ମାଟ୍ JPG / JPEG / PDF ରେ ରହିବା ଉଚିତ ଏବଂ ପ୍ରତ୍ୟେକ ଫାଇଲର ଆକାର ସର୍ବନିମ୍ନ 500kb ଏବଂ ସର୍ବାଧିକ 1MB ମଧ୍ୟରେ ହେବା ଉଚିତ |
                            </p>
                            <p>
                                ୬.	ପଞ୍ଜୀକରଣ ସମାପ୍ତ ହେବା ପରେ, ଆବେଦନକାରୀ ଆବେଦନ ଫର୍ମ ଡାଉନଲୋଡ୍ କରିପାରିବେ ଏବଂ ପଞ୍ଜୀକୃତ ମୋବାଇଲ୍ ନମ୍ବରରେ ଏକ ବାର୍ତ୍ତା ଗ୍ରହଣ କରିବେ ଯେଉଁଥିରେ ଆବେଦନ ନମ୍ବର ରହିବ |
                            </p>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary"><a href="/Farmer/DeepBorewell">Proceed</a></button>
                        @*<button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>*@
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="exampleLargeModal1" tabindex="-1" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header" style="background-color: #99bceb;">
                        <h5 id="hed11" class="modal-title">Instructions for Filling Online Application &nbsp; &nbsp;</h5>
                        <h5 style="display:none;" id="hed22" class="modal-title"><b> ଅନଲାଇନ୍ ଆବେଦନ ପୂରଣ ପାଇଁ ନିର୍ଦ୍ଦେଶାବଳୀ </b> &nbsp; &nbsp;</h5>
                        <input type="radio" onclick="show1(1)" name="fav_language" checked="checked">
                        <label for="html"><b> English  &nbsp; &nbsp;</b></label><br>
                        <input type="radio" onclick="show1(2)" name="fav_language">
                        <label for="html"><b> ଓଡିଆ</b></label><br>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div id="chk11" style="display:block;">
                            <p>
                                1. Read the Instructions Carefully and Press the<b>'PROCEED'</b> button to proceed further. <br />
                            </p>
                            <p>
                                2. Before the start of filling the application through online mode, the applicant should keep the following details / documents ready:<br />
                            </p>
                            <ul>
                                <li>
                                    Valid Mobile Number
                                </li>
                                <li>
                                    Aadhaar Details
                                </li>
                                <li>
                                    BPL Card Details (For SC / ST category having BPL card)
                                </li>
                                <li>
                                    Plot Details (Bhulekh)
                                </li>
                                <li>
                                    Land Patta
                                </li>
                                <li>
                                    ROR Affidavit (If the applicant has no Record of Rights (ROR) for Land details)
                                </li>
                            </ul>
                            <p>
                                3.	The Applicant should fill up all the required information i.e., Personal Details, Present Address Details, Land Particulars of Proposed Project, etc. correctly. <br />
                            </p>
                            <p>
                                4. Applicant should upload the scanned (digital) image for Aadhaar Card, Photo (Optional), BPL Card (For SC / ST category having BPL card), Land Patta and ROR Affidavit (If the applicant has no Record of Rights (ROR) for Land details). <br />
                            </p>
                            <p>
                                5.	Document format should be in JPG/ JPEG/ PDF and the size of each file should be between a minimum of 500kb & maximum of 1MB. <br />
                            </p>
                            <p>
                                6.	Upon completion of Registration, the applicant can download the application form and will receive a message in the registered mobile number which will contain the Application Number. <br />
                            </p>
                        </div>
                        <div id="chk22" style="display:none;">
                            <p>
                                ୧.	ନିର୍ଦ୍ଦେଶାବଳୀକୁ ଯତ୍ନର ସହିତ ପଢନ୍ତୁ ଏବଂ ଆଗକୁ ବଢିବାକୁ <b>'PROCEED'</b> ବଟନ୍ ଦବାନ୍ତୁ |
                            </p>
                            <p>
                                ୨.	ଅନଲାଇନ୍ ମୋଡ୍ ମାଧ୍ୟମରେ ଆବେଦନ ପୂରଣ କରିବା ପୂର୍ବରୁ, ଆବେଦନକାରୀ ନିମ୍ନଲିଖିତ ବିବରଣୀ / ଡକ୍ୟୁମେଣ୍ଟଗୁଡିକ ପ୍ରସ୍ତୁତ ରଖିବା ଉଚିତ୍:
                            </p>
                            <ul>
                                <li>
                                    ବୈଧ ମୋବାଇଲ୍ ନମ୍ବର
                                </li>
                                <li>
                                    ଆଧାର ବିବରଣୀ
                                </li>
                                <li>
                                    ବିପିଏଲ୍ କାର୍ଡ ବିବରଣୀ (ବିପିଏଲ୍ କାର୍ଡ ଥିବା SC / ST ବର୍ଗ ପାଇଁ)
                                </li>
                                <li>
                                    ପ୍ଲଟ୍ ବିବରଣୀ (ଭୁଲେଖ)
                                </li>
                                <li>
                                    ଜମି ପଟ୍ଟା
                                </li>
                                <li>
                                    ROR ଆଫିଡେଭିଟ୍ (ଯଦି ଜମି ବିବରଣୀ ପାଇଁ ଆବେଦନକାରୀଙ୍କ ପାଖରେ କୌଣସି ଅଧିକାର ନାହିଁ)
                                </li>
                            </ul>
                            <p>
                                ୩.	ଆବେଦନକାରୀ ସମସ୍ତ ଆବଶ୍ୟକୀୟ ସୂଚନା ଯଥା, ବ୍ୟକ୍ତିଗତ ବିବରଣୀ, ଉପସ୍ଥାପିତ ଠିକଣା ବିବରଣୀ, ପ୍ରସ୍ତାବିତ ପ୍ରକଳ୍ପର ଭୂମି ବିଶେଷତା ଇତ୍ୟାଦି ସଠିକ୍ ଭାବରେ ପୂରଣ କରିବା ଉଚିତ୍ |
                            </p>
                            <p>
                                ୪.	ଆବେଦନକାରୀ ଆଧାର କାର୍ଡ, ଫଟୋ, ବିପିଏଲ୍ କାର୍ଡ (ବିପିଏଲ୍ କାର୍ଡ ଥିବା SC / ST ବର୍ଗ ପାଇଁ), ଲ୍ୟାଣ୍ଡ ପଟ୍ଟା, ଏବଂ ROR ଆଫିଡେଭିଟ୍ (ଯଦି ଜମି ବିବରଣୀ ପାଇଁ ଆବେଦନକାରୀଙ୍କ ପାଖରେ କୌଣସି ଅଧିକାର ନାହିଁ) ସ୍କାନ୍ ହୋଇଥିବା (ଡିଜିଟାଲ୍) ପ୍ରତିଛବି ଅପଲୋଡ୍ କରିବା ଉଚିତ୍ |
                            </p>
                            <p>
                                ୫.	ଡକ୍ୟୁମେଣ୍ଟ୍ ଫର୍ମାଟ୍ JPG / JPEG / PDF ରେ ରହିବା ଉଚିତ ଏବଂ ପ୍ରତ୍ୟେକ ଫାଇଲର ଆକାର ସର୍ବନିମ୍ନ 500kb ଏବଂ ସର୍ବାଧିକ 1MB ମଧ୍ୟରେ ହେବା ଉଚିତ |
                            </p>
                            <p>
                                ୬.	ପଞ୍ଜୀକରଣ ସମାପ୍ତ ହେବା ପରେ, ଆବେଦନକାରୀ ଆବେଦନ ଫର୍ମ ଡାଉନଲୋଡ୍ କରିପାରିବେ ଏବଂ ପଞ୍ଜୀକୃତ ମୋବାଇଲ୍ ନମ୍ବରରେ ଏକ ବାର୍ତ୍ତା ଗ୍ରହଣ କରିବେ ଯେଉଁଥିରେ ଆବେଦନ ନମ୍ବର ରହିବ |
                            </p>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary"><a href="/Farmer/SolarDeepBorewell">Proceed</a></button>
                        @*<button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>*@
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="exampleLargeModal2" tabindex="-1" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header" style="background-color: #99bceb;">
                        <h5 id="hed111" class="modal-title"><b>Instructions for Filling Online Application </b> &nbsp; &nbsp;</h5>
                        <h5 style="display:none;" id="hed222" class="modal-title"><b> ଅନଲାଇନ୍ ଆବେଦନ ପୂରଣ ପାଇଁ ନିର୍ଦ୍ଦେଶାବଳୀ </b> &nbsp; &nbsp;</h5>
                        <input type="radio" id="lebl1" onclick="show2(1)" name="fav_language" checked>
                        <label for="lebl1"><b> English  &nbsp; &nbsp;</b></label><br>
                        <input type="radio" onclick="show2(2)" name="fav_language">
                        <label for="html"><b> ଓଡିଆ</b></label><br>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div id="chk111" style="display:block;">
                            <p>
                                1. Read the BKVY Guidelines & Instructions Carefully and Press the <b>'PROCEED'</b> button to proceed further. <br />
                            </p>
                            <p>
                                2. Firstly, download the Biju Krushak Vikas Yojana (BKVY) Guideline and read it properly: <br />
                                &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Click here for Download
                                <a href="~/Animation2/assets/img/BKVY GUIDELINE.pdf" download="BKVY GUIDELINE" style="font-weight:600;color:blue;">

                                    <i>
                                        <img style="width: 5%;" src="~/Animation2/assets/img/hand.gif" />
                                    </i> BKVY Guideline
                                    <i class="fa fa-file-pdf-o" style="color:red;"></i>
                                </a>
<p>
                            <p>
                                3. Before the start of filling the application through online mode, the applicant should keep the following details / documents ready:<br />
                            </p>
                            <ul>
                                <li>
                                    Valid Mobile Number
                                </li>
                                <li>
                                    Aadhaar Details
                                </li>
                                <li>
                                    Plot Details (Bhulekh)
                                </li>
                            </ul>
                            <p>
                                4.	The Applicant should fill up all the required information i.e., Personal Details & Present Address Details of Farmer's representative, Land Particulars of Proposed Project, etc. correctly. <br />
                            </p>
                            <p>
                                5.	Upon completion of Registration, the applicant can download the application form and will receive a message in the registered mobile number which will contain the Application Number. <br />
                            </p>

                            <p>
                                <input type="checkbox" id="Guidelines" name="Guidelines" value="Guidelines">
                                <label for="Guidelines"><b> I have read and agreed to the Guidelines of <i style="color:blue;">Biju Krushak Vikas Yojana (BKVY)</i></b></label>
                            </p>
                        </div>
                        <div id="chk222" style="display:none;">
                            <p>
                                ୧.	BKVY ଗାଇଡ୍ ଲାଇନ୍ ଏବଂ ନିର୍ଦ୍ଦେଶାବଳୀକୁ ସାବଧାନତାର ସହିତ ପଢନ୍ତୁ ଏବଂ ଆଗକୁ ବଢିବାକୁ <b>'PROCEED'</b> ବଟନ୍ ଦବାନ୍ତୁ |
                            </p>
                            <p>
                                ୨.	ପ୍ରଥମେ, ବିଜୁ କୃଷକ ବିକାଶ ଯୋଜନା (BKVY) ଗାଇଡ୍ ଲାଇନ୍ ଡାଉନଲୋଡ୍ କରନ୍ତୁ ଏବଂ ଏହାକୁ ସଠିକ୍ ଭାବରେ ପଢନ୍ତୁ:<br />
                                &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; ଡାଉନଲୋଡ୍ ପାଇଁ ଏଠାରେ କ୍ଲିକ୍ କରନ୍ତୁ
                                <a href="~/Animation2/assets/img/BKVY GUIDELINE.pdf" download="BKVY GUIDELINE" style="font-weight:600;color:blue;">
                                    <i>
                                        <img style="width: 5%;" src="~/Animation2/assets/img/hand.gif" />
                                    </i> BKVY Guideline
                                </a>
                            </p>
                            <p>
                                ୩.	ଅନଲାଇନ୍ ମୋଡ୍ ମାଧ୍ୟମରେ ଆବେଦନ ପୂରଣ କରିବା ପୂର୍ବରୁ, ଆବେଦନକାରୀ ନିମ୍ନଲିଖିତ ବିବରଣୀ / ଡକ୍ୟୁମେଣ୍ଟଗୁଡିକ ପ୍ରସ୍ତୁତ ରଖିବା ଉଚିତ୍:
                            </p>
                            <ul>
                                <li>
                                    ବୈଧ ମୋବାଇଲ୍ ନମ୍ବର
                                </li>
                                <li>
                                    ଆଧାର ବିବରଣୀ
                                </li>
                                <li>
                                    ପ୍ଲଟ୍ ବିବରଣୀ (ଭୁଲେଖ)
                                </li>
                            </ul>
                            <p>
                                ୪.	ଆବେଦନକାରୀ ସମସ୍ତ ଆବଶ୍ୟକୀୟ ସୂଚନା ଯଥା, ବ୍ୟକ୍ତିଗତ ବିବରଣୀ, ଉପସ୍ଥାପିତ ଠିକଣା ବିବରଣୀ, ପ୍ରସ୍ତାବିତ ପ୍ରକଳ୍ପର ଭୂମି ବିଶେଷତା ଇତ୍ୟାଦି ସଠିକ୍ ଭାବରେ ପୂରଣ କରିବା ଉଚିତ୍ |
                            </p>
                            <p>
                                ୫.	ପଞ୍ଜୀକରଣ ସମାପ୍ତ ହେବା ପରେ, ଆବେଦନକାରୀ ଆବେଦନ ଫର୍ମ ଡାଉନଲୋଡ୍ କରିପାରିବେ ଏବଂ ପଞ୍ଜୀକୃତ ମୋବାଇଲ୍ ନମ୍ବରରେ ଏକ ବାର୍ତ୍ତା ଗ୍ରହଣ କରିବେ ଯେଉଁଥିରେ ଆବେଦନ ନମ୍ବର ରହିବ |
                            </p>

                            <p>
                                <input type="checkbox" id="Guidelines1" name="Guidelines1" value="Guidelines1">
                                <label for="Guidelines1"><b> ମୁଁ <i style="color:blue;">ବିଜୁ କୃଷକ ବିକାଶ ଯୋଜନା (BKVY)</i> ର ଗାଇଡଲାଇନକୁ ପଢିଛି ଏବଂ ରାଜି ହୋଇଛି</b></label>
                            </p>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" id="proceed" disabled><a href="/Farmer/CLIP">Proceed</a></button>
                        @*<button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>*@
                    </div>
                </div>
            </div>
        </div>
    </main><!-- End #main -->
    <!-- ======= Footer ======= -->
    <footer id="footer">

        <div class="container py-4">
            <div class="copyright">
                @*&copy; Copyright <strong><span>OLIC</span></strong>. All Rights Reserved*@
            </div>
            <div class="credits">
                &copy; Copyright <strong><span>OLIC</span></strong>. All Rights Reserved
                @*Designed & Developed by <a style="font-weight: 700;" href="https://oasystspl.com/" target="_blank"> Oasys Tech Solution Pvt. Ltd.</a>*@
            </div>
        </div>
    </footer><!-- End Footer -->

    <div id="preloader"></div>
    <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>
    <script src="~/Animation/assets/js/jquery.min.js"></script>
    <!-- Vendor JS Files -->
    <script src="~/Animation2/assets/vendor/aos/aos.js"></script>
    <script src="~/Animation2/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/Animation2/assets/vendor/glightbox/js/glightbox.min.js"></script>
    <script src="~/Animation2/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
    <script src="~/Animation2/assets/vendor/php-email-form/validate.js"></script>
    <script src="~/Animation2/assets/vendor/purecounter/purecounter.js"></script>
    <script src="~/Animation2/assets/vendor/swiper/swiper-bundle.min.js"></script>
    <script src="~/Animation2/assets/vendor/waypoints/noframework.waypoints.js"></script>

    <!-- Template Main JS File -->
    <script src="~/Animation2/assets/js/main.js"></script>

    <script>
        function show(id) {
            if (id == 1) {
                $("#chk1").css("display", "block");
                $("#chk2").css("display", "none");
                $("#hed1").css("display", "block");
                $("#hed2").css("display", "none");
            }
            else {
                $("#chk1").css("display", "none");
                $("#chk2").css("display", "block");
                $("#hed1").css("display", "none");
                $("#hed2").css("display", "block");

            }
        }

        function show1(id) {
            if (id == 1) {
                $("#chk11").css("display", "block");
                $("#chk22").css("display", "none");
                $("#hed11").css("display", "block");
                $("#hed22").css("display", "none");
            }
            else {
                $("#chk11").css("display", "none");
                $("#chk22").css("display", "block");
                $("#hed11").css("display", "none");
                $("#hed22").css("display", "block");

            }
        }

        function show2(id) {
            if (id == 1) {
                $("#chk111").css("display", "block");
                $("#chk222").css("display", "none");
                $("#hed111").css("display", "block");
                $("#hed222").css("display", "none");
            }
            else {
                $("#chk111").css("display", "none");
                $("#chk222").css("display", "block");
                $("#hed111").css("display", "none");
                $("#hed222").css("display", "block");

            }
        }

        $('#Guidelines').click(function () {
            if ($(this).is(':checked')) {

                $('#proceed').removeAttr('disabled'); //enable input

            } else {
                $('#proceed').attr('disabled', true); //disable input
            }
        });

        $('#Guidelines1').click(function () {
            if ($(this).is(':checked')) {

                $('#proceed').removeAttr('disabled'); //enable input

            } else {
                $('#proceed').attr('disabled', true); //disable input
            }
        });
    </script>
</body>

</html>
