
@{
    ViewBag.Title = "dashboard";
    Layout = "~/Views/Shared/_CommonLayout.cshtml";
}

<div class="mt-4" style="text-align:center;">
    <br />
    <h3>Welcome To Online Billing Portal</h3>
</div>
