
@{
    ViewBag.Title = "IncomeTax";
    Layout = "~/Views/Shared/_CommonLayout.cshtml";
}

<div class="page-content">
    <div class="page-breadcrumb d-none d-sm-flex align-items-center mb-3">
        <div class="ps-3">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb mb-0 p-0">
                    <li class="breadcrumb-item">
                        <a href="/Hcm/Dashboard"><i class="bx bx-home-alt"></i></a>
                    </li>
                    <li class="breadcrumb-item active" aria-current="page">Income Tax</li>
                </ol>
            </nav>
        </div>
    </div>

    <div class="card">
        <div class="card-body">
            <h6>To visit the <b>Income Tax</b> portal click on the given link:<a href="https://www.incometax.gov.in/iec/foportal/" target="_blank"> Income Tax</a></h6>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <h6>To visit the <b>Income Tax Login</b> page click on the given link:<a href="https://eportal.incometax.gov.in/iec/foservices/#/login" target="_blank"> Income Tax Login</a></h6>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <h6>To visit the <b>Form 16/16A</b> page click on the given link:<a href="https://www.tdscpc.gov.in/app/login.xhtml" target="_blank"> Form 16/16A</a></h6>
        </div>
    </div>
</div>

